/****** Object:  Database [Curio]    Script Date: 7/25/2020 5:30:03 PM ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'Curio')
DROP DATABASE [Curio]
GO
/****** Object:  Database [Curio]    Script Date: 7/25/2020 5:30:03 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Curio')
BEGIN
CREATE DATABASE [Curio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Curio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Curio.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Curio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Curio_log.ldf' , SIZE = 20992KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Curio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
