/****** Object:  Table [dbo].[ProductImage]    Script Date: 7/25/2020 5:30:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImage]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImage]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 7/25/2020 5:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImage]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[ImageURL] [nvarchar](max) NULL,
	[ThumbImageURL] [nvarchar](max) NULL,
	[GalleryImageURL] [nvarchar](max) NULL,
	[Sequences] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK__ProductI__3214EC076530CC3B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ProductID], [ImageURL], [ThumbImageURL], [GalleryImageURL], [Sequences], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (32, 1, N'../CommonFiles/Products/Zoom/2.jpeg', N'../CommonFiles/Products/Thumb/2.jpeg', N'../CommonFiles/Products/Gallery/2.jpeg', 0, CAST(N'2020-05-12 18:12:14.380' AS DateTime), CAST(N'2020-07-16 16:49:59.437' AS DateTime))
INSERT [dbo].[ProductImage] ([Id], [ProductID], [ImageURL], [ThumbImageURL], [GalleryImageURL], [Sequences], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (34, 2, N'../CommonFiles/Products/Zoom/4.jpeg', N'../CommonFiles/Products/Thumb/4.jpeg', N'../CommonFiles/Products/Gallery/4.jpeg', 0, CAST(N'2020-05-12 18:13:43.550' AS DateTime), CAST(N'2020-05-12 18:13:43.550' AS DateTime))
INSERT [dbo].[ProductImage] ([Id], [ProductID], [ImageURL], [ThumbImageURL], [GalleryImageURL], [Sequences], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (35, 3, N'../CommonFiles/Products/Zoom/5.jpeg', N'../CommonFiles/Products/Thumb/5.jpeg', N'../CommonFiles/Products/Gallery/5.jpeg', 0, CAST(N'2020-05-12 18:14:17.827' AS DateTime), CAST(N'2020-05-12 18:14:17.827' AS DateTime))
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
