/****** Object:  Table [dbo].[Orders]    Script Date: 7/25/2020 5:30:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/25/2020 5:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderGUID] [uniqueidentifier] NULL,
	[CustomerGUID] [nvarchar](1000) NULL,
	[CustomerIP] [nvarchar](1000) NULL,
	[BillingAddressID] [int] NULL,
	[ShippingAddressID] [int] NULL,
	[PickupAddressID] [int] NULL,
	[OrderStatusId] [int] NULL,
	[ShippingStatusId] [int] NULL,
	[PaymentMethod] [nvarchar](1000) NULL,
	[CustomerCurrencyCode] [nvarchar](10) NULL,
	[TAXIDNumber] [nvarchar](1000) NULL,
	[OrderSubtotalInclTax] [decimal](18, 2) NULL,
	[OrderSubtotalExclTax] [decimal](18, 2) NULL,
	[OrderDiscount] [decimal](18, 2) NULL,
	[OrderShippingCharge] [decimal](18, 2) NULL,
	[PaymentMethodAdditionalFee] [decimal](18, 2) NULL,
	[TaxRates] [decimal](18, 2) NULL,
	[OrderTotal] [decimal](18, 2) NULL,
	[RefundedAmount] [decimal](18, 2) NULL,
	[RewardPointsHistoryEntryId] [int] NULL,
	[AllowStoringCreditCardNumber] [int] NULL,
	[CardType] [nvarchar](1000) NULL,
	[BankName] [nvarchar](1000) NULL,
	[CardNumber] [nvarchar](50) NULL,
	[CardCvv2] [nvarchar](50) NULL,
	[CardExpirationMonth] [nvarchar](50) NULL,
	[CardExpirationYear] [nvarchar](50) NULL,
	[AuthorizationTransactionId] [nvarchar](1000) NULL,
	[AuthorizationTransactionCode] [nvarchar](1000) NULL,
	[AuthorizationTransactionResult] [nvarchar](1000) NULL,
	[CaptureTransactionId] [nvarchar](1000) NULL,
	[CaptureTransactionResult] [nvarchar](1000) NULL,
	[RefNumber] [nvarchar](1000) NULL,
	[PaidDateUtc] [datetime] NULL,
	[ShippingMethod] [nvarchar](1000) NULL,
	[Deleted] [int] NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK__Orders__3214EC07EA5A1909] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
