/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/25/2020 5:30:03 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
DROP TABLE [dbo].[OrderItems]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/25/2020 5:30:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrderItems]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemGuid] [nvarchar](100) NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPriceInclTax] [decimal](18, 2) NULL,
	[UnitPriceExclTax] [decimal](18, 2) NULL,
	[PriceInclTax] [decimal](18, 2) NULL,
	[PriceExclTax] [decimal](18, 2) NULL,
	[DiscountAmountInclTax] [decimal](18, 2) NULL,
	[DiscountAmountExclTax] [decimal](18, 2) NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
 CONSTRAINT [PK__OrderIte__3214EC070DD2C8D6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderItemGuid], [ProductId], [Quantity], [UnitPriceInclTax], [UnitPriceExclTax], [PriceInclTax], [PriceExclTax], [DiscountAmountInclTax], [DiscountAmountExclTax], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (5, N'69a6ca94-7afb-48d5-97de-bbcfc217a258', 3, 1, CAST(29500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(29500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2020-06-04 18:07:42.767' AS DateTime), CAST(N'2020-06-04 18:07:42.767' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderItemGuid], [ProductId], [Quantity], [UnitPriceInclTax], [UnitPriceExclTax], [PriceInclTax], [PriceExclTax], [DiscountAmountInclTax], [DiscountAmountExclTax], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (6, N'69a6ca94-7afb-48d5-97de-bbcfc217a258', 7, 1, CAST(88500.00 AS Decimal(18, 2)), CAST(75000.00 AS Decimal(18, 2)), CAST(88500.00 AS Decimal(18, 2)), CAST(75000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2020-06-04 18:07:42.780' AS DateTime), CAST(N'2020-06-04 18:07:42.780' AS DateTime))
INSERT [dbo].[OrderItems] ([Id], [OrderItemGuid], [ProductId], [Quantity], [UnitPriceInclTax], [UnitPriceExclTax], [PriceInclTax], [PriceExclTax], [DiscountAmountInclTax], [DiscountAmountExclTax], [CreatedOnUtc], [UpdatedOnUtc]) VALUES (1004, N'c93c13a3-2c52-497a-a958-7bc79d4ccdb2', 5, 1, CAST(1770.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(1770.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2020-06-11 20:59:48.087' AS DateTime), CAST(N'2020-06-11 20:59:48.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
